/*fonts*/

@font-face {
  font-family: Brother-1816-Medium;
  src: url('assets/TipoType - Brother-1816-Medium.otf');
}

@font-face {
  font-family: Brother-1816-Regular;
  src: url('assets/TipoType - Brother-1816-Regular.otf');
}

@font-face {
  font-family: Brother-1816-Book;
  src: url('assets/TipoType - Brother-1816-Book.otf');
}

body {
  font: 23px Brother-1816-Medium;
  color: #E5E5E5;
  background-image: url(./assets/cartographer.png);
  background-repeat: repeat;
  background-color: #212121;
}

.wrapper {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  height: 100%;
}

.section {
  display: grid;
}

.box {
  padding: 0.5em;
  border: 1px solid #000;
}

/*logo*/

.box ~ #box_a1 span {
  font-family: Brother-1816-Book;
}

/*catchline*/

.box ~ #box_b2 {
  white-space:nowrap;
  text-align: center;
  line-height: 25px;
  font-size: 40px;
}

.box ~ #box_b2  span{
  padding-left: 60px;
  font-size: 25px;
}

/*discord_ad*/

.discord_ad {
  cursor: pointer;
  width: 95px;
  height: 32px;
}

.discord_ad:hover{
  margin-top:2px;
}

#sec_a {
  grid-template-columns: auto 1fr;
}
#sec_b {
  grid-template-columns: 1fr 1fr;
}
#sec_c {
  grid-template-columns: 1fr;
}

#box_a3 {
  display: none;
}

/*menu_bar*/

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #E5E5E5;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
  transform: rotate(-45deg) translate(-9px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -5px) ;
  transform: rotate(45deg) translate(-8px, -5px) ;
}

/*tabs*/
.box ~ #box_a2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.box ~ #box_a2 ul li {
  padding-right: 53px;
  display: inline;
}

.box ~ #box_a2 ul li:first-child {
  padding-left: 10px;
}

.change ~ #box_a1, .change ~ #box_a2, .change ~ #box_a3 {
  transition: 0.3s;
  background-color: #1C1C1C;
}

.change ~ #box_a2{
  display: grid;
  grid-column: 1 / 3;
}

.change ~ #box_a2 ul li {
  display: block;
  text-align: center;
}



@media screen and (max-width: 800px) {
  #sec_b {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  #box_a2 {
    display: none;
  }
  #box_a3 {
    display: block;
    cursor: pointer;
  }
}
