/*fonts*/

@font-face {
  font-family: Brother-1816-Medium;
  src: url('assets/TipoType - Brother-1816-Medium.otf');
}

@font-face {
  font-family: Brother-1816-Regular;
  src: url('assets/TipoType - Brother-1816-Regular.otf');
}

@font-face {
  font-family: Brother-1816-Book;
  src: url('assets/TipoType - Brother-1816-Book.otf');
}

/*base*/

body {
  margin: 0px;
  font: 23px Brother-1816-Medium;
  color: #E5E5E5;
  background-image: url(./assets/cartographer.png);
  background-repeat: repeat;
  background-color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  height: 100vh;
  margin-left: 8px;
  margin-right: 8px;
}

.section {
  display: grid;
}

.box {
  padding: 0.5em;
  /* NOTE turn on below for debugging*/
  /* border: 1px solid #000; */ 
}

.url {
  background-image: linear-gradient(#a88e79, #a88e79);
  background-size: 0 3px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center calc(100% - 1px);
  background-color: transparent;
  transition: background 100ms ease-in;
  padding-bottom: 10px;
  text-decoration: none;
  color: #897364;
}

.url:hover {
  background-size: 100% 3px,100% 1px;
  transition: background 100ms ease-out;
  padding-bottom: 10px;
  color: #a88e79;
}

/*-------------------------------FRONT---------------------------------*/

/*navigation button*/

.nav_btn {
  color: #D6D6D6;
  padding: 0 15px 0 15px;
  background-color: transparent;
  transition: background-color 100ms ease-in;
  cursor: pointer;
}

.nav_btn:hover {
  background-color: #a88e79;
  color: #212121;
  transition: background-color 100ms ease-out;
}

/*logo*/

.animated_logo {
  max-height: 460px;
  max-width: 560px;
  float:right;
}

.box ~ #box_a1 span {
  font-family: Brother-1816-Book;
  color: #E5E5E5;
}

/*catchline*/

.box ~ #box_b2 {
  white-space:nowrap;
  text-align: left;
  line-height: 34px;
  font-size: 52px;
  margin: auto 0 auto;
}

.box ~ #box_b2  span{
  padding-left: 60px;
  font-size: 34px;
}

/*discord_ad*/

.discord_ad {
  bottom: 20px;
  transition: bottom 50ms ease-out;
  position: fixed;
  cursor: pointer;
  width: 115px;
}

.discord_ad:hover{
  transition: bottom 50ms ease-in;
  bottom: 22px;
}

#sec_a {
  grid-template-columns: auto 1fr;
}
#sec_b {
  grid-template-columns: 1fr 1fr;
}
#sec_c {
  grid-template-columns: 1fr;
}
#sec_d {
  grid-template-columns: 1fr;
  height: 95vh;
  background-image: url(./assets/cartographer.png);
  background-repeat: repeat;
}

#box_a3 {
  display: none;
}

/*menu_bar*/

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #E5E5E5;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
  transform: rotate(-45deg) translate(-9px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -5px) ;
  transform: rotate(45deg) translate(-8px, -5px) ;
}

/*tabs*/

#box_a1 {
  font-size: 36px;
}
#box_a2 {
  font-size: 27px;
  font-family: Brother-1816-Book;
}

.box ~ #box_a2 ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.box ~ #box_a2 ul li {
  margin-right: 53px;
  display: inline;
}

.box ~ #box_a2 ul li:first-child {
  margin-left: 10px;
}

.change, .change ~ #box_a1, .change ~ #box_a2 {
  transition: 0.3s;
  /* background-color: #1C1C1C; */
}

.change ~ #box_a2{
  display: grid;
  grid-column: 1 / 3;
}

.change ~ #box_a2 ul li {
  display: block;
  text-align: center;
  padding: 0.5em;
}

.burgered > div {
  grid-auto-rows: auto 1fr;
}
.burgered #sec_b, .burgered #sec_c, .burgered #sec_d {
  display: none;
}

#sec_b {
  margin: auto 0 auto;
  text-align: center;
}

/*-------------------------------PROJECTS---------------------------------*/

/*art*/

.art_svg {
  max-height: 442px;
  max-width: 414px;
  float:right;
}

/*sections*/
.part {
  line-height: 100px;
  text-align: center;
}
.line, .line2, .line3, .line4 {
  background-repeat: repeat-x;
  height: 70px;
}

.line {
  background-image: url("assets/line.svg")
}

.line2 {
  background-image: url("assets/line2.svg")
}

.line3{
  background-image: url("assets/line3.svg")
}

.line4 {
  background-image: url("assets/line4.svg")
}

#part_sec {
  grid-column: 1;
  grid-row: auto;
  height: 95vh;
  background-image: url(./assets/cartographer.png);
}

@media screen and (max-width: 1365px) {
  #sec_b {
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
  }
  .animated_logo, .art_svg {
    float: none;
  }
  #box_b2 {
    text-align: center!important;
  }
}

@media screen and (max-width: 550px) {
  .box ~ #box_a2 ul, .box ~ #box_a2 ul li:first-child, .box ~ #box_a2 ul li {
    margin: 0;
  }
  #box_a2 {
    display: none;
  }
  #box_a3 {
    display: block;
    cursor: pointer;
  }
  .discord_ad {
    width: 95px;
    height: 32px;
  }
  .animated_logo, .art_svg {
    float: none;
  }
  .line, .line2, .line3, .line4 {
    height: 38px;
  }
  #box_a1 {
    font-size: 23px;
  }
  #box_b2 {
    text-align: center!important;
    font-size: 35px!important;
    line-height: 19px!important;
  }
  #box_b2 span {
    font-size: 20px!important;
  }
}
