.particle {
    position: absolute;
    border-radius: 50%;
    background: #ededed;
  }
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(610px, 140px, 4400px);
    }
  }
  .particle:nth-child(1) {
    animation: particle-animation-1 220s infinite;
    height: 9px;
    width: 9px;
    animation-delay: -0.4s;
    transform: translate3d(47vw, 41vh, 36px);
  }
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(330px, 530px, 500px);
    }
  }
  .particle:nth-child(2) {
    animation: particle-animation-2 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -0.8s;
    transform: translate3d(43vw, 79vh, 57px);
  }
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(610px, 60px, 6800px);
    }
  }
  .particle:nth-child(3) {
    animation: particle-animation-3 220s infinite;
    height: 7px;
    width: 7px;
    animation-delay: -1.2s;
    transform: translate3d(84vw, 58vh, 285px);
  }
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(310px, 660px, 6700px);
    }
  }
  .particle:nth-child(4) {
    animation: particle-animation-4 220s infinite;
    height: 7px;
    width: 7px;
    animation-delay: -1.6s;
    transform: translate3d(27vw, 9vh, 24px);
  }
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(690px, 90px, 4600px);
    }
  }
  .particle:nth-child(5) {
    animation: particle-animation-5 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -2s;
    transform: translate3d(9vw, 34vh, 111px);
  }
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(800px, 170px, 1900px);
    }
  }
  .particle:nth-child(6) {
    animation: particle-animation-6 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -2.4s;
    transform: translate3d(44vw, 62vh, 207px);
  }
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(440px, 270px, 700px);
    }
  }
  .particle:nth-child(7) {
    animation: particle-animation-7 220s infinite;
    height: 9px;
    width: 9px;
    animation-delay: -2.8s;
    transform: translate3d(39vw, 68vh, 237px);
  }
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(890px, 60px, 2000px);
    }
  }
  .particle:nth-child(8) {
    animation: particle-animation-8 220s infinite;
    height: 9px;
    width: 9px;
    animation-delay: -3.2s;
    transform: translate3d(5vw, 35vh, 84px);
  }
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(530px, 840px, 6000px);
    }
  }
  .particle:nth-child(9) {
    animation: particle-animation-9 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -3.6s;
    transform: translate3d(21vw, 10vh, 9px);
  }
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(630px, 700px, 7300px);
    }
  }
  .particle:nth-child(10) {
    animation: particle-animation-10 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -4s;
    transform: translate3d(26vw, 26vh, 96px);
  }
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(860px, 540px, 2900px);
    }
  }
  .particle:nth-child(11) {
    animation: particle-animation-11 220s infinite;
    height: 7px;
    width: 7px;
    animation-delay: -4.4s;
    transform: translate3d(38vw, 38vh, 144px);
  }
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(700px, 360px, 3500px);
    }
  }
  .particle:nth-child(12) {
    animation: particle-animation-12 220s infinite;
    height: 7px;
    width: 7px;
    animation-delay: -4.8s;
    transform: translate3d(74vw, 71vh, 159px);
  }
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(620px, 200px, 500px);
    }
  }
  .particle:nth-child(13) {
    animation: particle-animation-13 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -5.2s;
    transform: translate3d(81vw, 63vh, 105px);
  }
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(310px, 530px, 2200px);
    }
  }
  .particle:nth-child(14) {
    animation: particle-animation-14 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -5.6s;
    transform: translate3d(29vw, 29vh, 273px);
  }
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(660px, 160px, 7000px);
    }
  }
  .particle:nth-child(15) {
    animation: particle-animation-15 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -6s;
    transform: translate3d(2vw, 62vh, 288px);
  }
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(320px, 280px, 4300px);
    }
  }
  .particle:nth-child(16) {
    animation: particle-animation-16 220s infinite;
    height: 7px;
    width: 7px;
    animation-delay: -6.4s;
    transform: translate3d(83vw, 57vh, 240px);
  }
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(190px, 420px, 7900px);
    }
  }
  .particle:nth-child(17) {
    animation: particle-animation-17 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -6.8s;
    transform: translate3d(24vw, 69vh, 252px);
  }
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(350px, 570px, 2900px);
    }
  }
  .particle:nth-child(18) {
    animation: particle-animation-18 220s infinite;
    height: 7px;
    width: 7px;
    animation-delay: -7.2s;
    transform: translate3d(82vw, 82vh, 291px);
  }
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(410px, 600px, 9400px);
    }
  }
  .particle:nth-child(19) {
    animation: particle-animation-19 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -7.6s;
    transform: translate3d(22vw, 19vh, 24px);
  }
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(200px, 140px, 3300px);
    }
  }
  .particle:nth-child(20) {
    animation: particle-animation-20 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -8s;
    transform: translate3d(40vw, 57vh, 12px);
  }
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(810px, 540px, 600px);
    }
  }
  .particle:nth-child(21) {
    animation: particle-animation-21 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -8.4s;
    transform: translate3d(58vw, 80vh, 183px);
  }
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(30px, 890px, 5000px);
    }
  }
  .particle:nth-child(22) {
    animation: particle-animation-22 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -8.8s;
    transform: translate3d(80vw, 5vh, 243px);
  }
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(500px, 410px, 7400px);
    }
  }
  .particle:nth-child(23) {
    animation: particle-animation-23 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -9.2s;
    transform: translate3d(79vw, 88vh, 246px);
  }
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(330px, 80px, 5300px);
    }
  }
  .particle:nth-child(24) {
    animation: particle-animation-24 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -9.6s;
    transform: translate3d(56vw, 39vh, 147px);
  }
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(570px, 230px, 2000px);
    }
  }
  .particle:nth-child(25) {
    animation: particle-animation-25 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -10s;
    transform: translate3d(29vw, 76vh, 54px);
  }
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(740px, 400px, 4300px);
    }
  }
  .particle:nth-child(26) {
    animation: particle-animation-26 220s infinite;
    height: 10px;
    width: 10px;
    animation-delay: -10.4s;
    transform: translate3d(53vw, 81vh, 156px);
  }
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(430px, 540px, 3900px);
    }
  }
  .particle:nth-child(27) {
    animation: particle-animation-27 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -10.8s;
    transform: translate3d(18vw, 3vh, 108px);
  }
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(520px, 710px, 4800px);
    }
  }
  .particle:nth-child(28) {
    animation: particle-animation-28 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -11.2s;
    transform: translate3d(31vw, 4vh, 198px);
  }
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(530px, 420px, 4900px);
    }
  }
  .particle:nth-child(29) {
    animation: particle-animation-29 220s infinite;
    height: 8px;
    width: 8px;
    animation-delay: -11.6s;
    transform: translate3d(82vw, 75vh, 282px);
  }
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(630px, 460px, 8100px);
    }
  }
  .particle:nth-child(30) {
    animation: particle-animation-30 220s infinite;
    height: 6px;
    width: 6px;
    animation-delay: -12s;
    transform: translate3d(15vw, 25vh, 249px);
}
  